/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
}

body {
  padding-top: 40px;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.navbar {
  min-height: 40px;
}

.navbar-brand {
  padding: 10px;
  height: 20px;
}

.navbar-toggle {
  margin: 3px 10px 3px 0;
}

#kanban, #kanban .row, #todo, #doing, #done {
  height: 100%;
}

.title {
  background: rgba(255, 255, 255, 0.7);
}

.title h1 {
  margin-top: 10px;
}

#todo {
  background: #ff8888;
}

#doing {
  background: #88dd88;
}

#done {
  background: #8888ff;
}

.card-stack {
  height: calc(100% - 70px);
  overflow: auto;
  border: 1px solid white;
}

.card {
  height: 100px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid white;
  cursor: grab;
}

.card-placeholder {
  height: 100px;
  margin: 5px;
  border: 2px dashed black;
}

.card .data, .card .cd-panel {
  display: inline-block;
}

.card .data {
  width: 80%;
  padding: 6px 9px;
  font-size: 16px;
  line-height: 1.25;
}

.card .cd-panel {
  float: right;
  width: 50px;
  border-left: 1px solid white;
}

.card .cd-panel > div {
  height: 49px;
  background: #ff8888;
}

.card .cd-panel > div:first-child {
  border-bottom: 1px solid white;
}

.card .cd-panel div:nth-child(2) {
  font-size: 25px;
  cursor: pointer;
}

.card .cd-panel > div > div {
  width: 35px;
  height: 35px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.7);
}

.card .cd-panel > div > div > span {
  margin-top: 6px;
}
