/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap.min
 *= require jquery-ui-1.10.3.custom
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

html, body {
  height: 100%;
}

body {
  padding-top: 40px;
  overflow: hidden;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.navbar {
  min-height: 40px;
}

.navbar-brand {
  padding: 10px;
  height: 20px;
}

.navbar-toggle {
  margin: 3px 10px 3px 0;
}

#kanban, #kanban .row, #kanban .row > div, .board-section, {
  height: 100%;
}

.board-section:first-child, .board-section:first-child .js-card-new {
  background: #ff8888;
}

.board-section:nth-child(2), .board-section:nth-child(2) .js-card-new {
  background: #88dd88;
}

.board-section:nth-child(3), .board-section:nth-child(3) .js-card-new {
  background: #8888ff;
}
/*
#todo {
  background: #ff8888;
}

#doing {
  background: #88dd88;
}

#done {
  background: #8888ff;
}
*/
.js-card-new {
  position: absolute;
  top: 15px;
  left: calc(100% - 50px);
  padding-left: 2px;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 30px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.title {
  background: rgba(255, 255, 255, 0.7);
}

.title h1 {
  margin-top: 10px;
}

.cards-region {
  height: calc(100% - 70px);
  overflow: auto;
  border: 1px solid white;
}

.cards-region > div, .card-stack {
  height: calc(100% - 70px);
}

.card {
  height: 100px;
  margin: 5px;
  border: 1px solid white;
  cursor: grab;
}

.card-placeholder {
  height: 100px;
  margin: 5px;
  border: 2px dashed black;
}

.card .data, .card .card-panel {
  display: inline-block;
}

.card .data {
  width: calc(100% - 50px);
  height: 100%;
  overflow: auto;
  padding: 6px 9px;
  font-size: 16px;
  line-height: 1.25;
  background: rgba(255, 255, 255, 0.7);
}

.card .card-panel {
  float: right;
  width: 50px;
  border-left: 1px solid white;
}

.card .card-panel > div {
  height: 49px;
  /*background: #ff8888;*/
}

.card .card-panel > div:first-child {
  border-bottom: 1px solid white;
}

.card .card-panel div:nth-child(2) {
  font-size: 25px;
  cursor: pointer;
}

.card .card-panel > div > div {
  width: 35px;
  height: 35px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.7);
}

.card .card-panel > div > div > span {
  margin-top: 6px;
}
